.mainTemperature {
  font-size: 50px;
  position: relative;
  left: 15px;
  color: #04293a;
}
.weatherSymbol {
  font-size: 70px;
}
.high {
  font-size: 20px;
}
.variables,
.minTemp {
  color: #064663;
}